<!DOCTYPE html>

<html>
    <head>
        <title>About us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />    
        <meta name="description" content="" />

        <!-- FAVICONS ICON -->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

        <!-- PAGE TITLE HERE -->
        <title>Mfine Template | Customer Appointments</title>

        <!-- MOBILE SPECIFIC -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	

        <!-- BOOTSTRAP STYLE SHEET -->
        <link  href="css/bootstrap.min.css" rel="stylesheet">
        <!-- FONTAWESOME STYLE SHEET -->
        <link  href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Feather STYLE SHEET -->
        <link href="css/feather.css" rel="stylesheet">

        <!-- Font STYLE SHEET -->
        <link href="css/font.css" rel="stylesheet">    
        <!-- OWL CAROUSEL STYLE SHEET -->
        <link href="css/owl.carousel.min.css" rel="stylesheet">
        <!-- SLICK CAROUSEL STYLE SHEET -->
        <link href="css/slick.min.css" rel="stylesheet">
        <!-- SLICK STYLE SHEET -->
        <link href="css/slick-theme.css" rel="stylesheet">
        <!-- Custome scrollbar STYLE SHEET  -->
        <link href="css/jquery.scrollbar.css" rel="stylesheet">  
        <!-- DropZone STYLE SHEET  --> 
        <link href="css/dropzone.css" rel="stylesheet">       
        <!-- MAGNIFIC POPUP STYLE SHEET -->
        <link href="css/magnific-popup.min.css" rel="stylesheet">
        <!-- FLATICON STYLE SHEET -->
        <link href="css/flaticon.min.css" rel="stylesheet">
        <!-- Lc light box popup -->
        <link href="css/lc_lightbox.css" rel="stylesheet">     
        <!-- Price Range Slider -->
        <link href="css/bootstrap-slider.min.css" rel="stylesheet">
        <!-- Bootstrap-toggle -->
        <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">
        <!-- Bootstrap-datatables -->
        <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <!-- Date-picker -->
        <link href="css/date-picker.css" rel="stylesheet">
        <!-- Full calendar -->
        <link href="css/fullcalendar.min.css" rel="stylesheet">   
        <!-- MAIN STYLE SHEET -->
        <link href="css/style.css" rel="stylesheet">   

        <!-- SWEETALERT LIBRARY -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function showAboutDoctors() {


                var url = "./showaboutdoctors";

                fetch(url, {method: "GET"})
                        .then(response => response.text())
                        .then(ans => renderResponse(ans));
            }

            function renderResponse(ans) {

                // Step 1: Parse the JSON response
                var mainobj = JSON.parse(ans);
                var arr = mainobj["ans"];
                console.log(arr);

                var s = ``;

                s += `<div class="row">`;

                for (var i = 0; i < arr.length-10; i++) {
                    var st = arr[i];

//                               s=s+ Add Bootstrap grid column for each card
                    s = s + `
                    
            
<div class="col-lg-6 col-md-6 mb-4">
    <div class="aon-med-team-section">
        <div class="aon-med-team">
            <div class="aon-med-team-pic">
                <a href=""><img  style="height: 180px" src="` + st.photo + `" alt="#"></a>
            </div>
            <div class="aon-med-team-info">
                <h4 class="aon-title"><a href="">DR. ` + st.name + `</a></h4>
                <p class="aon-med-team-discription">MDS - Periodontology and Oral Implantology</p>
             <p class="aon-med-team-discription">Contact - ` + st.contact + `</p>
                <span class="aon-med-team-position">` + st.speciality + `</span>
                <span class="aon-med-team-location"><i class="feather-map-pin"></i>` + st.city + `</span>
                <div class="aon-df-rating">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="aon-df-lable">(124)</span>
                </div>
            </div>
        </div>
    </div>
</div>
        
                              
              `;


                    // Close the row container for every fourth item
                }
              
                s += `</div>`;



                // Set the HTML content of the element with id "d1"
                document.getElementById("d1").innerHTML = s;
            }


        </script>



    </head>

    <body onload="showAboutDoctors()">

        <div class="loading-area">
            <div class="loading-box"></div>
            <div class="loading-pic">
                <div class="cssload-wrap">
                    <div class="cssload-container">
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wraper cus-account-wrap  ">
            <header class="site-header header-style-1 mobile-sider-drawer-menu header-full-width  ">
                <div class="sticky-header main-bar-wraper  navbar-expand-lg ">
                    <div class="main-bar bg-dark-green">  

                        <div class="container clearfix"> 
                            <!--Logo section start-->
                            <div class="logo-header">
                                <div class="logo-header-inner logo-header-one">
                                    <a href="/">
                                        <img class="logo-pic-one" src="images/doclogo.jpg" alt="">
                                        <img class="logo-pic-two" src="images/doclogo2.jpg" alt="">
                                    </a>
                                </div>
                            </div>  
                            <!--Logo section End-->

                            <!-- NAV Toggle Button -->
                            <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar icon-bar-first"></span>
                                <span class="icon-bar icon-bar-two"></span>
                                <span class="icon-bar icon-bar-three"></span>
                            </button> 

                            <!-- MAIN Vav -->
                            <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center" id="sessionnav">

                                <ul class=" nav navbar-nav">
                                    <li class="has-child current-menu-item"><a href="/">Home</a>

                                    </li>

                                    <li class="has-child"><a href="/aboutus">About us</a>

                                    </li>
                                    <li class="has-child"><a href="javascript:;">Doctor</a>
                                        <ul class="sub-menu">
                                            <li><a href="/doctorsignup">Doctor Signup</a></li>
                                            <li><a href="/doctorlogin">Doctor Login</a></li>

                                        </ul>                                                                 
                                    </li>
                                    <li class="has-child"><a href="javascript:;">User</a>
                                        <ul class="sub-menu">
                                            <li><a href="/usersignup">User Signup</a></li>
                                            <li><a href="/userlogin">User Login</a></li>

                                        </ul>                                                                 
                                    </li>
                                    <li class="has-child">
                                        <a href="javascript:;">Pages</a>
                                        <ul class="sub-menu">

                                            <li><a href="/adminLogin">Admin Login</a></li>


                                        </ul>                                
                                    </li>



                                    <li class="has-child"><a href="/blog">Blog</a>

                                    </li>





                                    <li class="has-child"><a href="/contactus">Contact</a>

                                    </li> 

                                </ul>

                            </div>

                            <!-- Header Right Section-->
                            <div class="extra-nav header-2-nav">
                                <div class="extra-cell">

                                 
                                    <!--Add Listing up-->


                                </div>                            

                            </div>    

                        </div>
                    </div>
            </header>
        </div>

        <div class="page-content">
            <!--Banner-->
            <div class="aon-page-benner-area">
                <div class="aon-page-banner-row">
                    <div class="aon-page-benner-overlay" ></div>
                    <div class="sf-banner-heading-wrap">
                        <div class="sf-banner-heading-area">
                            <div class="sf-banner-heading-large">About us</div>
                            <div class="sf-banner-breadcrumbs-nav">
                                <ul class="list-inline">
                                    <li><a href="/"> Home </a></li>
                                    <li><a href="/aboutus">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!--Banner-->

            <!-- We are Building  Section -->
            <section class="aon-med-future-area bg-white">
                <div class="container">
                    <div class="section-content">
                        <div class="aon-med-future-section">
                            <div class="row ">

                                <div class="col-lg-6 col-md-12">
                                    <div class="section-head left">
                                        <span class="aon-sub-title">Building</span>
                                        <h2 class="aon-title">We are Building Sustainable Future.</h2>
                                        <ul class="list-check-style2">
                                            <li>
                                                <i class="feather-check"></i>
                                                <h3 class="list-title">Find a Local Physiotherapist</h3>
                                                <p>Connect with a nearby physiotherapist for personalized care and rehabilitation tailored to your needs.</p>   
                                            </li>
                                            <li>
                                                <i class="feather-check"></i>
                                                <h3 class="list-title">Choose Your Schedule</h3>
                                                <p>
                                                    Select a convenient time slot for your physiotherapy session to fit seamlessly into your schedule.</p>   
                                            </li>
                                            <li>
                                                <i class="feather-check"></i>
                                                <h3 class="list-title">Make a Payment</h3>
                                                <p>Complete your payment securely to confirm your physiotherapy session and invest in your well-being with ease.</p>  

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="aone-med-future-r-section">
                                        <ul>
                                            <li>
                                                <div class="aone-med-future-l-inner">
                                                    <div class="aone-med-future-content">
                                                        <span><img src="images/future/icon1.png" alt=""></span>
                                                        <h3>Cunsult top doctors</h3>

                                                    </div>
                                                    <div class="media">
                                                        <img src="images/future/1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="aone-med-future-r-inner">
                                                    <div class="media">
                                                        <img src="images/future/2.jpg" alt="">
                                                    </div>
                                                    <div class="aone-med-future-content">
                                                        <span><img src="images/future/icon2.png" alt=""></span>
                                                        <h3>You are in safe hands</h3>

                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <!-- Appointment Section -->

            <!-- Appointment Section END --> 


            <!-- Testimonial Section -->

            <!-- Testimonial Section END -->

            <!-- Are You Provider Section -->

            <!-- Are You Provider Section End-->

            <!-- Pricing Section -->

            <!-- Pricing Section END -->  


        </div>
        <div class="section-head center">
            <span class="aon-sub-title">Team</span>
            <h2 class="aon-title">Top Rated Doctors</h2>
        </div>
        <div class="container">
            <div id="d1"></div>
        </div>


        <br/>

        <div th:replace="Footer:: footer"></div>

        <script  src="js/jquery-3.6.0.min.js"></script> JQUERY.MIN JS 
        <script  src="js/popper.min.js"></script> POPPER.MIN JS 
        <script  src="js/bootstrap.min.js"></script> BOOTSTRAP.MIN JS 

        <script  src="js/jquery.bootstrap-touchspin.js"></script> FORM JS 
        <script  src="js/bootstrap-slider.min.js"></script> BOOTSTRAP Slider  
        <script  src="js/magnific-popup.min.js"></script> MAGNIFIC-POPUP JS 
        <script  src="js/waypoints.min.js"></script> WAYPOINTS JS 
        <script  src="js/counterup.min.js"></script> COUNTERUP JS 
        <script  src="js/waypoints-sticky.min.js"></script> STICKY HEADER 
        <script  src="js/isotope.pkgd.min.js"></script> MASONRY  
        <script  src="js/owl.carousel.min.js"></script> OWL  SLIDER  
        <script  src="js/slick.min.js"></script> Slick SLIDER  
        <script  src="js/theia-sticky-sidebar.js"></script> STICKY SIDEBAR  
        <script  src="js/jquery.scrollbar.min.js"></script> MY ACCOUNT LEFT PANEL SCROLLER 
        <script  src="js/dropzone.js"></script>IMAGE UPLOAD  
        <script  src="js/bootstrap4-toggle.min.js"></script> BOOTSTRAP TOOGLE
        <script  src="js/jquery.dataTables.min.js"></script>DATA TABLE
        <script  src="js/dataTables.bootstrap4.min.js"></script> DATA TABLE
        <script  src="js/lc_lightbox.lite.js" ></script> IMAGE POPUP 
        <script  src="js/datepicker.min.js"></script> DATEPICKER 
        <script  src="js/fullcalendar.min.js"></script> DATEPICKER 
        <script src="js/recaptcha-api.js"></script> RECAPTCHA
        <script  src="js/custom.js"></script> CUSTOM FUCTIONS  

    </body>
</html>

