<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>DocConnect</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />    
        <meta name="description" content="" />

        <!-- FAVICONS ICON -->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

        <!-- PAGE TITLE HERE -->
        <title>DocConnect</title>

        <!-- MOBILE SPECIFIC -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	

        <!-- BOOTSTRAP STYLE SHEET -->
        <link  href="css/bootstrap.min.css" rel="stylesheet">
        <!-- FONTAWESOME STYLE SHEET -->
        <link  href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Feather STYLE SHEET -->
        <link href="css/feather.css" rel="stylesheet">

        <!-- Font STYLE SHEET -->
        <link href="css/font.css" rel="stylesheet">    
        <!-- OWL CAROUSEL STYLE SHEET -->
        <link href="css/owl.carousel.min.css" rel="stylesheet">
        <!-- SLICK CAROUSEL STYLE SHEET -->
        <link href="css/slick.min.css" rel="stylesheet">
        <!-- SLICK STYLE SHEET -->
        <link href="css/slick-theme.css" rel="stylesheet">
        <!-- Custome scrollbar STYLE SHEET  -->
        <link href="css/jquery.scrollbar.css" rel="stylesheet">  
        <!-- DropZone STYLE SHEET  --> 
        <link href="css/dropzone.css" rel="stylesheet">       
        <!-- MAGNIFIC POPUP STYLE SHEET -->
        <link href="css/magnific-popup.min.css" rel="stylesheet">
        <!-- FLATICON STYLE SHEET -->
        <link href="css/flaticon.min.css" rel="stylesheet">
        <!-- Lc light box popup -->
        <link href="css/lc_lightbox.css" rel="stylesheet">     
        <!-- Price Range Slider -->
        <link href="css/bootstrap-slider.min.css" rel="stylesheet">
        <!-- Bootstrap-toggle -->
        <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">
        <!-- Bootstrap-datatables -->
        <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <!-- Date-picker -->
        <link href="css/date-picker.css" rel="stylesheet">
        <!-- Full calendar -->
        <link href="css/fullcalendar.min.css" rel="stylesheet">   
        <!-- MAIN STYLE SHEET -->
        <link href="css/style.css" rel="stylesheet"> 
        <!-- SWEETALERT LIBRARY -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function doctorSignup()
            {

                var name = document.getElementById("t1").value;
                var email = document.getElementById("t2").value;
                var password = document.getElementById("t3").value;
                var speciality = document.getElementById("specialityname").value;
                var city = document.getElementById("cityname").value;
                var latitude = document.getElementById("t6").value;
                var longitute = document.getElementById("t7").value;

                var photo = document.getElementById("t8").files[0];

                var starttime = document.getElementById("t9").value;
                var endtime = document.getElementById("t10").value;
                var slotamount = document.getElementById("t11").value;
                var contact = document.getElementById("t12").value;
                var description = document.getElementById("t13").value;
                if (name == "" ||
                        email == "" ||
                        contact == "" ||
                        password == "" ||
                        speciality == "" ||
                        city == "" ||
                        latitude == "" ||
                        longitute == "" ||
                        starttime == "" ||
                        endtime == "" ||
                        slotamount == "" ||
                        contact == "" ||
                        description == "")

                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Enter The Form Properly !'
                    });
                } else if (contact.length != 10)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Enter the Phone Number Properly !'
                    });
                } else if (email.indexOf("@") == -1)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Enter Email in Proper Format !'
                    });
                } else
                {
                    var formdata = new FormData();
                    formdata.append("name", name);
                    formdata.append("email", email);
                    formdata.append("password", password);
                    formdata.append("speciality", speciality);
                    formdata.append("city", city);
                    formdata.append("latitude", latitude);
                    formdata.append("longitute", longitute);


                    formdata.append("starttime", starttime);
                    formdata.append("endtime", endtime);
                    formdata.append("slotamount", slotamount);
                    formdata.append("contact", contact);
                    formdata.append("description", description);
                    formdata.append("photo", photo);

                    var url = "./adddoctor";

                    fetch(url, {method: "POST", body: formdata})
                            .then(response => response.text())
                            .then(ans => renderAsHtml(ans));
                }

                function renderAsHtml(ans)
                {



                    if (ans === "success")
                    {
                        Swal.fire({
                            icon: 'success',
                            title: 'Signup Successful',
                            text: 'You have successfully signed up!',
                            showConfirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/doctorlogin";
                            }
                        });


                    } else if (ans === "fail")
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'login Failed',
                            text: 'signup failed/email already exist',
                        });

                    } else if (ans === "exception")
                    {
                        alert(ans);
                    }

                }
            }

            function showCities()
            {

                var url = "./ownerViewCities";

                fetch(url, {method: "POST"})
                        .then(response => response.text())
                        .then(ans => renderCities(ans));
            }
            function renderCities(ans)
            {

                ans = ans.trim();
                var mainobj = JSON.parse(ans);
                var arr = mainobj["ans"];

                var ren = "";



                ren += "<label style=\"color: black\">Select City</label>";
                ren += "<select id=\"cityname\" class=\"user-box-input text-black\" style=\"width: 100%\" >";
                ren += "<option></option>";
                for (var i = 0; i < arr.length; i++)
                {
                    var st = arr[i];

                    ren += "<option style=\"color: black\" value=\'" + st.cityname + "\' >" + st.cityname + "</option>";
                }
                ren += "</select>";
                ren += "</div>";


                document.getElementById("t5").innerHTML = ren;
            }


            function showSpeciality()
            {

                var url = "./ownerViewSpecialities";

                fetch(url, {method: "POST"})
                        .then(response => response.text())
                        .then(ans => renderSpeciality(ans));
            }
            function renderSpeciality(ans)
            {

                ans = ans.trim();
                var mainobj = JSON.parse(ans);
                var arr = mainobj["ans"];

                var ren = "";



                ren += "<label style=\"color: black\">Select Specialities</label>";
                ren += "<select id=\"specialityname\" class=\"user-box-input text-black\" style=\"width: 100%\" >";
                ren += "<option></option>";
                for (var i = 0; i < arr.length; i++)
                {
                    var st = arr[i];

                    ren += "<option style=\"color: black\" value=\'" + st.specialitiesname + "\' >" + st.specialitiesname + "</option>";
                }
                ren += "</select>";
                ren += "</div>";


                document.getElementById("t4").innerHTML = ren;
            }


        </script>
    </head>
    <body onload="showCities();
            showSpeciality()">
        <!-- LOADING AREA START ===== -->
        <div class="loading-area">
            <div class="loading-box"></div>
            <div class="loading-pic">
                <div class="cssload-wrap">
                    <div class="cssload-container">
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOADING AREA  END ====== -->
<!--        <div th:replace="Navbar:: header1"></div>-->
        <div class="page-content">
            <!--Banner-->
            <div class="aon-page-benner-area">
                <div class="aon-page-banner-row">
                    <div class="aon-page-benner-overlay" ></div>
                    <div class="sf-banner-heading-wrap">
                        <div class="sf-banner-heading-area">
                            <div class="sf-banner-heading-large">Doctor SignUp</div>
                            <div class="sf-banner-breadcrumbs-nav">
                                <ul class="list-inline">
                                    <li><a href="/"> Home </a></li>
                                    <li><a href="https://aonetheme.com/latest-service-finder/providers-category/packers-and-movers/">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!--Banner-->


            <div class="section-full p-t80 p-b90 sf-contact-form3-area">
                <div class="container">

                    <div class="sf-contact-form3-wrap">
                        <div class="sf-con-form-title text-center">
                            <h2 class="m-b30">SignUp Form</h2>
                        </div>
                        <!--Contact Information-->  
                        <div class="sf-contact-form3 shadow">
                            <form class="contact-form" method="post">
                                <div class="row">

                                    <!-- COLUMNS 1 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Name   <input type="text" name="fullname" placeholder="Name" class="form-control" id="t1" required>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 2 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Email    <input type="email" name="email" placeholder="Email" class="form-control" id="t2" required>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Password      <input type="password" name="phone" placeholder="Password" class="form-control" id="t3">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Photo <input type="file" name="subject" placeholder="Photo" class="form-control" id="t8" required>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->
                                    <div class="col-md-6">
                                        <div class="form-group" >
                                            <div id="t4" >


                                            </div>


                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div id="t5" >

                                                <!--Show All Cities-->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Latitude  <input type="text" name="subject" placeholder="Latitude" class="form-control" id="t6" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            longitute   <input type="text" name="phone" placeholder="Longitude" id="t7" class="form-control">
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Start time   <input type="number" name="phone" placeholder="Start Time" id="t9" class="form-control">
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4Start Time -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            End Time <input type="number" name="subject" placeholder="End Time" class="form-control" id="t10" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Amount  <input type="number" name="phone" placeholder="Slot Amount" id="t11" class="form-control">
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Contact  <input type="number" name="subject" placeholder="Contact" class="form-control" id="t12" required>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 5 -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            Description  <textarea name="message" placeholder="description" class="form-control" rows="4" id="t13" required></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="g-recaptcha" data-sitekey="6LfcCr0eAAAAAN2P-3cJJC1StgxbUWvwELbMVjnp"></div>

                                    </div>

                                </div>
                                <div class="sf-contact-submit-btn text-center">
                                    <button class="site-button" type="button" onclick="doctorSignup()">Submit</button>
                                </div>
                                  <div class="login-section">
                        <h3>Already have an account? </h3>
                        <h4> Log in here: <a style="text-decoration: underline;color: blue" href="/doctorlogin">Login</a></h4>

                    </div>
                            </form>
                        </div>
                        <!--Contact Information End-->
                    </div>  
                  
                </div>

            </div>



            <!-- Contact Us-->

        </div>






        <!-- JAVASCRIPT  FILES ========================================= --> 
        <script  src="js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
        <script  src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
        <script  src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->

        <script  src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
        <script  src="js/bootstrap-slider.min.js"></script><!-- BOOTSTRAP Slider --> 
        <script  src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
        <script  src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
        <script  src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
        <script  src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
        <script  src="js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
        <script  src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
        <script  src="js/slick.min.js"></script><!-- Slick SLIDER  -->
        <script  src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
        <script  src="js/jquery.scrollbar.min.js"></script><!-- MY ACCOUNT LEFT PANEL SCROLLER -->
        <script  src="js/dropzone.js"></script><!--IMAGE UPLOAD-->  
        <script  src="js/bootstrap4-toggle.min.js"></script><!-- BOOTSTRAP TOOGLE-->
        <script  src="js/jquery.dataTables.min.js"></script><!--DATA TABLE-->
        <script  src="js/dataTables.bootstrap4.min.js"></script><!-- DATA TABLE-->
        <script  src="js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
        <script  src="js/datepicker.min.js"></script><!-- DATEPICKER -->
        <script  src="js/fullcalendar.min.js"></script><!-- DATEPICKER -->
        <script src="js/recaptcha-api.js"></script><!-- RECAPTCHA-->
        <script  src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->

    </body>
</html>
