<!DOCTYPE html>
<html lang="zxx">



    <head>

        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />    
        <meta name="description" content="" />

        <!-- FAVICONS ICON -->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
        <!-- SWEETALERT LIBRARY -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- PAGE TITLE HERE -->
        <title>DocConnect</title>

        <!-- MOBILE SPECIFIC -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	

        <!-- BOOTSTRAP STYLE SHEET -->
        <link  href="css/bootstrap.min.css" rel="stylesheet">
        <!-- FONTAWESOME STYLE SHEET -->
        <link  href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Feather STYLE SHEET -->
        <link href="css/feather.css" rel="stylesheet">

        <!-- Font STYLE SHEET -->
        <link href="css/font.css" rel="stylesheet">    
        <!-- OWL CAROUSEL STYLE SHEET -->
        <link href="css/owl.carousel.min.css" rel="stylesheet">
        <!-- SLICK CAROUSEL STYLE SHEET -->
        <link href="css/slick.min.css" rel="stylesheet">
        <!-- SLICK STYLE SHEET -->
        <link href="css/slick-theme.css" rel="stylesheet">
        <!-- Custome scrollbar STYLE SHEET  -->
        <link href="css/jquery.scrollbar.css" rel="stylesheet">  
        <!-- DropZone STYLE SHEET  --> 
        <link href="css/dropzone.css" rel="stylesheet">       
        <!-- MAGNIFIC POPUP STYLE SHEET -->
        <link href="css/magnific-popup.min.css" rel="stylesheet">
        <!-- FLATICON STYLE SHEET -->
        <link href="css/flaticon.min.css" rel="stylesheet">
        <!-- Lc light box popup -->
        <link href="css/lc_lightbox.css" rel="stylesheet">     
        <!-- Price Range Slider -->
        <link href="css/bootstrap-slider.min.css" rel="stylesheet">
        <!-- Bootstrap-toggle -->
        <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">
        <!-- Bootstrap-datatables -->
        <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <!-- Date-picker -->
        <link href="css/date-picker.css" rel="stylesheet">
        <!-- Full calendar -->
        <link href="css/fullcalendar.min.css" rel="stylesheet">   
        <!-- MAIN STYLE SHEET -->
        <link href="css/style.css" rel="stylesheet">   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <script>

            function showSpecificDoctor() {

                var email = document.getElementById("d2").innerText;


                var url = "./usergetspecificspecialitydoctor?email=" + email;

                fetch(url, {method: "POST"})
                        .then(response => response.text())
                        .then(ans => renderResponse(ans));
            }

            function renderResponse(ans) {

                // Step 1: Parse the JSON response
                var mainobj = JSON.parse(ans);

                var arr = mainobj.ans;

                console.log(arr);

                document.getElementById("name").innerText = "Dr. " + arr[0].name;
                document.getElementById("speciality").innerText = arr[0].speciality;
                document.getElementById("contact").innerText = arr[0].contact;
                document.getElementById("name1").innerText = "Dr. " + arr[0].name;
                document.getElementById("spec").innerText = arr[0].speciality;
                document.getElementById("photo").src = arr[0].photo;
                document.getElementById("city").innerText = arr[0].city;
                document.getElementById("latitude").innerText = arr[0].latitude;
                document.getElementById("longitute").innerText = +arr[0].longitute;
                nextPage();

            }
            function nextPage() {

                var email = document.getElementById("d2").innerText;
                var next = `
                
                <a class="site-button" href="/bookslots?email=` + email + `">
        <i class="fa fa-calendar-o"></i>Book Now
        </a>
        `
                document.getElementById("nextPage").innerHTML = next;

            }


            var xhr = new XMLHttpRequest();
            function review()
            {
                $("#myModal1").modal("show");
            }

            var n = 0;
            function fill(obj)
            {
                var img = obj.src;
                var id = obj.id;
                var val = parseInt(id.substring(id.indexOf("_") + 1));
                var i;
                if (n === 0)
                {
                    i = 1;
                } else
                {
                    i = n + 1;
                }
                for (; i <= 5; i++)
                {
                    if (i <= val)
                    {
                        document.getElementById("rating_" + i).src = "rating/filled_star.png";

                    } else
                    {
                        document.getElementById("rating_" + i).src = "rating/empty_star.png";
                    }
                }

            }
            function selected(obj)
            {
                var id = obj.id;
                var val = parseInt(id.substring(id.indexOf("_") + 1));
                n = val;
            }
            function unfill(obj)
            {
                var i;
                if (n === 0)
                {
                    i = 1;
                } else
                {
                    i = n + 1;
                }
                for (; i <= 5; i++)
                {
                    document.getElementById("rating_" + i).src = "rating/empty_star.png";
                }
            }

            function addreview()
            {
                var doctor_email = document.getElementById("d2").innerText;

                var comment = document.getElementById("comment").value;


                var url = "./userAddReview?doctor_email=" + doctor_email + "&rating=" + n + "&comment=" + comment;

                fetch(url).then(response => response.text())
                        .then(ans => renderAddReviewResponse(ans));


            }

            function renderAddReviewResponse(ans) {
                if (ans === "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Review Added Successful',
                        showConfirmButton: false,
                    });

                    // Close the alert after 2 seconds
                    setTimeout(function () {
                        Swal.close();
                    }, 2000);
                    userShowRatings();
                }
            }

            function userShowRatings() {
                var doctor_email = document.getElementById("d2").innerText;

                //1. Make object of XMLHttpRequest
                var xhttp = new XMLHttpRequest();

                //4. Receive XMLHttpResponse from server & use ans

                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var res = this.responseText;
                        res = res.trim();
                        var mainobj = JSON.parse(res);
                        var arr = mainobj["ans"];

                        var ren = "";

                        for (var i = 0; i < arr.length; i++)
                        {
                            var st = arr[i];
                            ren += "<div class=\"row\" >";

                            ren += "<div class= \"col-sm-6\" style=\"text-align: center\" >";
                            ren += "<div class=\"card-body\">";
                            for (var j = 0; j < st.rating; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 40px; height: 40px\" src=\"rating/filled_star.png\" >";
                            }
                            for (var j = st.rating; j < 5; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 40px; height: 40px\" src=\"rating/empty_star.png\" >";
                            }
                            ren += "</div>";
                            ren += "</div>";

                            ren += "<div class= \"col-sm-3\" style=\"text-align: center\" >";
                            ren += "<div class=\"card-body\">";
                            ren += "<label class=\"card-text text-alli\" style=\"font-size: 16px;text-align: center;color: #005b9a\" ><b>Comment : </b><br>" + st.comment + "</label><br><br>";
                            ren += "</div>";
                            ren += "</div>";

                            ren += "<div class= \"col-sm-3\" style=\"text-align: center\" >";
                            ren += "<div class=\"card-body\">";
                            ren += "<label class=\"card-text text-alli\" style=\"font-size: 16px;text-align: center;color: #005b9a\" ><b>User Email : </b><br>" + st.user_email + "</label><br><br>";
                            ren += "</div>";
                            ren += "</div>";
                            ren += "</div>";

                        }

                        document.getElementById("showratings").innerHTML = ren;
                        averageRating();
                        

                    }
                };
                //2. Prepare request (Define target --> servlet)
                xhttp.open("GET", "./userShowRatings?doctor_email=" + doctor_email, true);

                //3. Send Request
                xhttp.send();
            }

            function averageRating() {
                var doctor_email = document.getElementById("d2").innerText;

                //1. Make object of XMLHttpRequest
                var xhttp = new XMLHttpRequest();

                //4. Receive XMLHttpResponse from server & use ans
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var res = this.responseText;
                        res = res.trim();
//                        alert(res);
                        var mainobj = JSON.parse(res);
                        var arr = mainobj["ans"];

                        var ren = "";

                        var st = arr[0];
                        var rating2 = st.r1;
                        var getdecimal = rating2.toString().split(".")[1];
                        if (parseInt(getdecimal) == 0) {
                            ren += "<div class= \"col-sm-12\" style=\"text-align: center\" >";
                            ren += "<div class=\"card-body\">";
                            for (var j = 0; j < st.r1; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 60px; height: 60px\" src=\"rating/filled_star.png\" >";
                            }
                            for (var j = st.r1; j < 5; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 60px; height: 60px\" src=\"rating/empty_star.png\" >";
                            }
                            ren += "</div>";
                            ren += "</div>";
                        } else {
                            ren += "<div class= \"col-sm-12\" style=\"text-align: center\" >";
                            ren += "<div class=\"card-body\">";
                            for (var j = 0; j < st.r1 - 1; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 60px; height: 60px\" src=\"rating/filled_star.png\" >";
                            }
                            ren += "<img class=\"img-thumbnail\" style=\"width: 60px; height: 60px\" src=\"rating/download.jpg\" >";
                            for (var j = st.r1; j < 4; j++) {
                                ren += "<img class=\"img-thumbnail\" style=\"width: 60px; height: 60px\" src=\"rating/empty_star.png\" >";
                            }
                            ren += "</div>";
                            ren += "</div>";
                        }

                        document.getElementById("averagerating").innerHTML = ren;
                    }
                };
                //2. Prepare request (Define target --> servlet)
                xhttp.open("GET", "./userShowAverageRatings?doctor_email=" + doctor_email, true);

                //3. Send Request
                xhttp.send();
            }

            function getAddress() {
                var latitude = document.getElementById("latitude").innerText;
                var longitude = document.getElementById("longitute").innerText;
             

                document.getElementById("gmap_canvas").src = "https://maps.google.com/maps?q=" + latitude + "," + longitude + "&ie=UTF8&iwloc=&output=embed";
                $('#myModal11').modal('show');
                        }

        </script>

    </head>

    <body onload="showSpecificDoctor();
            userShowRatings();
            averageRating()">

        <!-- LOADING AREA START ===== -->
        <div class="loading-area">
            <div class="loading-box"></div>
            <div class="loading-pic">
                <div class="cssload-wrap">
                    <div class="cssload-container">
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOADING AREA  END ====== -->

        <div class="page-wraper">

            <!-- HEADER START -->
            <div th:replace="UserNavbar1:: userheader1"></div>
            <br/>
            <br/>


            <!-- HEADER END -->

            <!-- Content -->
            <div class="page-content">

                <!--Provider Banner Area -->
                <div class="aon-pro-benner-area">
                    <div class="aon-pro-banner-row">
                        <div class="aon-pro-banner-content">
                            <div class="sf-doc-pro-card-media">
                                <div class="sf-doc-pr-media-inner">
                                    <img src="images/pro-card.jpg" id="photo" alt="">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <div class="aon-doc-pro-card-name">
                                <h3 id="name"></h3> 
                                <p id="speciality">Dentist, Dental Surgeon</p>
                                <div class="aon-doc-pro-location"id="city" >331 Park Ave S, New York, NY</div>
                                <div class="aon-doc-pro-conInfo">
                                    <span id="d2" th:text="${email}"></span>
                                    <span><a id="contact" href="tel:+415225563256">+41 5225 563 256</a></span> 
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--Provider Banner Area End -->

                <!-- Left & right section -->
                <div class="aon-profile1-page-wrap p-b90">
                    <div class="container">
                        <div class="row">

                            <!-- Left Part bar start -->
                            <div class="col-lg-8">

                                <!--Profile Info-->
                                <div class="sf-doc-full-detail card-shadow-box mb-4" id="aon-about-area">
                                    <div class="sf-doc-full-detail-head">
                                        <div class="sf-doc-info-wrap">
                                            <h3 id="name1">Dr. David Wood</h3>
                                          <span>latitude :</span>    <div id="latitude" class="sf-doct-info">  </div>
                                          
                                           <span>longitude :</span> <div id="longitute" class="sf-doct-info">BDS. - M.B.B.S,Ph.D</div>
                                        
                                            <div class="sf-doc-exp"><span>33 Years Experience Overall</span>  (33 years as specialist)</div>
                                        </div>
                                        <div class="sf-doc-position">
                                            <span id="spec">Dentist</span>
                                        </div>
                                    </div>

                                    <ul class="aon-doctorAddto-share m-b0">
                                        <li><a href="#"><i class="feather-heart"></i> Add to Fav</a></li>
                                        <li><a href="#"><i class="feather-share-2"></i> Share</a></li>
                                        <li><input type="button" onclick="getAddress()" value="View Location" style="border-radius: 25px; background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none;" /></li>

                                    </ul>
                                    <!-- The Modal for map -->


                                </div>

                                <!--time table-->


                                <!--review-->

                                <div class="col-sm-12" style="text-align: center">
                                    <input type="button" class="btn btn-warning"  value="ADD REVIEW"
                                           style="border-radius: 10px;text-shadow: 2px 2px 5px black;  color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; " onclick="review()" />

                                </div>

                                <h2>Average Rating</h2>
                                <div id="averagerating" >

                                </div>
                                <h2>All Ratings</h2>
                                <div id="showratings" >

                                </div>

                                <div class="modal" id="myModal1" >
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header " style="background: #ff8a00" >

                                                <h4 class="modal-title" style="color: white;"> Add Review</h4>
                                                <!--                                                <button type="button" class="close" data-dismiss="modal">&times;</button>                                        -->

                                            </div>
                                            <div class="modal-body " >
                                                <div>



                                                    <div id="all">

                                                        <form action="" method="post" id="form1">
                                                            <table>
                                                                <tr> <label class="form-group"> Give Ratings..</label>
                                                                <td>
                                                                    <img id="rating_1" src="rating/empty_star.png" onmouseover="fill(this);" onmouseout="unfill(this);" onclick="selected(this);" width="50px;" height="50px;">
                                                                </td>
                                                                <td>
                                                                    <img id="rating_2" src="rating/empty_star.png" onmouseover="fill(this)" onmouseout="unfill(this)" onclick="selected(this)" width="50px;" height="50px;">
                                                                </td>
                                                                <td>
                                                                    <img id="rating_3" src="rating/empty_star.png" onmouseover="fill(this)" onmouseout="unfill(this)" onclick="selected(this)" width="50px;" height="50px;">
                                                                </td>
                                                                <td>
                                                                    <img id="rating_4" src="rating/empty_star.png" onmouseover="fill(this)" onmouseout="unfill(this)" onclick="selected(this)" width="50px;" height="50px;">
                                                                </td>
                                                                <td>
                                                                    <img  id="rating_5" src="rating/empty_star.png" onmouseover="fill(this)" onmouseout="unfill(this)" onclick="selected(this)" width="50px;" height="50px;">
                                                                </td>
                                                                </tr>
                                                            </table>
                                                            <br>
                                                            <label> Write Comment : </label> <input style="border-radius: 20px;" type="text" id="comment"  class="form-group"/>
                                                            <input type="button" value="Submit" class="btn btn-primary"
                                                                   style="border-radius: 10px;text-shadow: 2px 2px 5px black" onclick="addreview()" />
                                                            <label style="display: none;color: tomato;" id="label1">Please Select Any Rating</label>

                                                        </form>
                                                    </div>

                                                </div>   
                                            </div>
                                        </div>
                                        <div class="modal-footer " style="background: #ff8a00;" >
                                            <button type="button" class="btn btn-default" style="border-radius: 10px;" data-dismiss="modal"  >Close</button>


                                        </div>


                                    </div>
                                </div>


                                <div class="modal" id="myModal11">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Doctor Address</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="gmap_canvas">
                                                    <iframe width="100%" height="400px" id="gmap_canvas" src="https://maps.google.com/maps?q=31.636694035778973,74.87413616805217&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                                    <a href="https://2yu.co"></a><br><style>.mapouter{
                                                            position:relative;
                                                            text-align:right;
                                                            height:100%;
                                                            width:100%;
                                                        }</style><a href="https://embedgooglemap.2yu.co/"></a>
                                                    <style>.gmap_canvas {
                                                            overflow:hidden;
                                                            background:none!important;
                                                            height:100%;
                                                            width:100%;
                                                        }</style></div>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--The Modal for mapo ends-->


                                <!--Doctor Education-->

                                <!--Doctor Education End-->                            

                                <!--Location-->


                                <!-- Insurances & Specializations & Languages -->

                                <!-- Insurances & Specializations & Languages End-->                             

                                <!--Patient Exp Info-->


                            </div>
                            <!-- Left Part END -->


                            <!-- Right part start -->

                            <div class="col-lg-4 rightSidebar  ">

                                <!-- Page Nav -->
                                <div class="sf-doc-timeing-card card-shadow-box mb-4">
                                    <ul class="aon-siderbar-nav m-a0">
                                        <li><a href="#aon-about-area">About Me</a></li>
                                        <li><a href="#aon-education-area">Education &amp; Training</a></li>
                                        <li><a href="#aon-pricing-area">Prices & Payments</a></li>
                                        <li><a href="#aon-specialities-area">Specialities</a></li>
                                        <li><a href="#aon-question-area">Question &amp; Answer</a></li>
                                        <li><a href="#aon-locations-area">Locations</a></li>
                                        <li><a href="#aon-reviews-area">Reviews</a></li>
                                    </ul>
                                </div> 

                                <!-- Time table -->
                                <div class="sf-doc-timeing-card card-shadow-box mb-4">
                                    <div class="aon-consultancy-free d-flex justify-content-between align-items-center">
                                        <h3 class="aon-consultancy-title">Consultancy Fee</h3>
                                        <span class="aon-consultancy-price">$124</span>
                                    </div>
                                    <ul class="nav nav-pills mb-3 aon-custom-nav sf-doc-timeing-card-nav" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Today<span>31 May</span></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tomorrow<span>01 June</span></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">More Date<span>See Calender</span></button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                            <!-- Timing slots start-->
                                            <div class="sf-doc-timing-slots">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail active">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sf-doc-timing-slots-btn">
                                                    <a href="javascript:void(0);" class="site-button red">
                                                        <i class="fa fa-trash"></i>Cancel
                                                    </a>
                                                    <div id="nextPage" >
                                                        <a  class="site-button">
                                                            <i class="fa fa-calendar-o"></i>Book Now
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Timing slots list End-->
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" >
                                            <!-- Timing slots start-->
                                            <div class="sf-doc-timing-slots">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail active">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="sf-doc-timing-slots-detail">
                                                            <span>9AM - 12PM</span>
                                                            <p>0 available</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sf-doc-timing-slots-btn">
                                                    <a href="javascript:void(0);" class="site-button red">
                                                        <i class="fa fa-trash"></i>Cancel
                                                    </a>
                                                    <a href="javascript:void(0);" class="site-button">
                                                        <i class="fa fa-calendar-o"></i>Schedule
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Timing slots list End-->
                                        </div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel">
                                            <!-- user msg list start-->
                                            <div class="input-group date aon-inputicon-box datepicker-area" id="datepicker">
                                                <input type="text" class="form-control">
                                                <span class="input-group-append">
                                                    <span class="input-group-text bg-white d-block">
                                                        <i class="fa fa-calendar aon-input-icon"></i>
                                                    </span>
                                                </span>
                                            </div>


                                            <!-- user msg list End-->
                                        </div>
                                    </div>
                                </div>


                                <!-- Photo Gallery Doctor -->

                                <!-- Find Doctor -->





                            </div>
                            <!-- Right part END -->   



                        </div>
                    </div>
                </div> 
                <!-- Left & right section  END -->

            </div>
            <!-- Content END-->

            <!-- FOOTER START -->
            <div th:replace="Footer:: footer"></div>
            <!-- FOOTER END -->

            <!-- BUTTON TOP START -->
            <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

            <ul class="aon-scrolling-nav">
                <li>
                    <a href="#aon-about-area">
                        <i class="fa fa-user"></i>
                        <span>About Me</span>
                    </a>
                </li>
                <li>
                    <a href="#aon-education-area">
                        <i class="fa fa-book"></i>
                        <span>Education &amp; Training</span>
                    </a>
                </li>

                <li>
                    <a href="#aon-pricing-area">
                        <i class="fa fa-dollar"></i>
                        <span>Prices & Payments</span>
                    </a>
                </li>            

                <li>
                    <a href="#aon-specialities-area">
                        <i class="fa fa-user-md"></i>
                        <span>Specialities</span>
                    </a>
                </li>
                <li>
                    <a href="#aon-question-area">
                        <i class="fa fa-commenting-o"></i>
                        <span>Question &amp; Answer</span>
                    </a>
                </li>

                <li>
                    <a href="#aon-locations-area">
                        <i class="fa fa-map-marker"></i>
                        <span>Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#aon-reviews-area">
                        <i class="fa fa-star-o"></i>
                        <span>Reviews</span>
                    </a>
                </li>
            </ul>        


        </div>


        <!-- JAVASCRIPT  FILES ========================================= --> 
        <script  src="js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
        <script  src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
        <script  src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->

        <script  src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
        <script  src="js/bootstrap-slider.min.js"></script><!-- BOOTSTRAP Slider --> 
        <script  src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
        <script  src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
        <script  src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
        <script  src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
        <script  src="js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
        <script  src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
        <script  src="js/slick.min.js"></script><!-- Slick SLIDER  -->
        <script  src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
        <script  src="js/jquery.scrollbar.min.js"></script><!-- MY ACCOUNT LEFT PANEL SCROLLER -->
        <script  src="js/dropzone.js"></script><!--IMAGE UPLOAD-->  
        <script  src="js/bootstrap4-toggle.min.js"></script><!-- BOOTSTRAP TOOGLE-->
        <script  src="js/jquery.dataTables.min.js"></script><!--DATA TABLE-->
        <script  src="js/dataTables.bootstrap4.min.js"></script><!-- DATA TABLE-->
        <script  src="js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
        <script  src="js/datepicker.min.js"></script><!-- DATEPICKER -->
        <script  src="js/fullcalendar.min.js"></script><!-- DATEPICKER -->
        <script src="js/recaptcha-api.js"></script><!-- RECAPTCHA-->
        <script  src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->


    </body>


    <!-- Mirrored from aonetheme.com/mfine/profile1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Apr 2024 18:18:24 GMT -->
</html>
